{% extends "base.html" %}
{% block content %}
<div class="starter-template">
<h4><b>About This Project</b></h4>
<hr>
<p>
This project developed in two part, web interface and tsunami server that runs separately
every five minute, <br> and produce input data for web interface.
Both part coded in <a href="http://python.org">Python</a>.

<li>All work done in gnu linux operating system using open source tools.</li>
<li><a href="http://getbootstrap.com/">Bootstrap</a> used for styling web interface.</li>
<li>Graph plotted by <a href="http://matplotlib.org/">Matplotlib</a> library.</li>
<li>Data analysed by <a href="http://pandas.pydata.org/">Pandas</a>.</li>
</p>
</div>
{% endblock %}
